.c35 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Nunito";
  font-style: normal
}

.c14 {
  color: #434343;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-family: "Nunito";
  font-style: normal
}

.c47 {
  color: #666666;
  font-weight: 600;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Nunito";
  font-style: normal
}

.c1 {
  padding-top: 7pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c66 {
  background-color: #fff2cc;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Inter";
  font-style: normal
}

.c41 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal
}

.c30 {
  padding-top: 14pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c8 {
  padding-top: 7pt;
  padding-bottom: 15pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt
}

.c6 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c49 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 8pt;
  font-family: "Nunito";
  font-style: normal
}

.c39 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 32pt;
  font-family: "Nunito";
  font-style: normal
}

.c2 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Montserrat";
  font-style: normal
}

.c43 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 8pt;
  font-family: "Montserrat";
  font-style: normal
}

.c32 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Nunito";
  font-style: normal
}

.c45 {
  font-weight: 800;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  font-family: "Nunito";
  font-style: normal
}

.c12 {
  padding-top: 7pt;
  padding-bottom: 15pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c10 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Nunito";
  font-style: normal
}

.c7 {
  padding-top: 7pt;
  padding-bottom: 15pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c23 {
  padding-top: 7pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c4 {
  padding-top: 7pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c15 {
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 24pt;
  font-family: "Nunito";
  font-style: normal
}

.c22 {
  font-weight: 800;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 8pt;
  font-family: "Nunito";
  font-style: normal
}

.c40 {
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 17pt;
  font-family: "Montserrat";
  font-style: normal
}

.c52 {
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Montserrat";
  font-style: normal
}

.c3 {
  font-weight: 800;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Nunito";
  font-style: normal
}

.c24 {
  background-color: #ffd966;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Montserrat"
}

.c18 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c46 {
  padding-top: 12pt;
  padding-bottom: 2pt;
  line-height: 1.5;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c50 {
  background-color: #ffe599;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Inter";
  font-style: normal
}

.c58 {
  padding-top: 20pt;
  padding-bottom: 10pt;
  line-height: 1.5;
  page-break-after: avoid;
  text-align: left
}

.c9 {
  padding-top: 7pt;
  padding-bottom: 12pt;
  line-height: 1.5;
  page-break-after: avoid;
  text-align: left
}

.c57 {
  padding-top: 10pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  page-break-after: avoid;
  text-align: left
}

.c62 {
  padding-top: 14pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  page-break-after: avoid;
  text-align: left
}

.c55 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Montserrat"
}

.c13 {
  padding-top: 7pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: justify
}

.c5 {
  background-color: #ffffff;
  font-size: 12pt;
  font-family: "Nunito";
  font-weight: 400
}

.c28 {
  padding-top: 7pt;
  padding-bottom: 12pt;
  line-height: 1.5;
  text-align: center
}

.c38 {
  padding-top: 7pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: left
}

.c51 {
  color: #434343;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

.c54 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #4a6ee0;
  text-decoration: underline
}

.c11 {
  padding-top: 7pt;
  padding-bottom: 12pt;
  line-height: 1.5;
  text-align: justify
}

.c31 {
  padding-top: 7pt;
  padding-bottom: 0pt;
  line-height: 1.5;
  text-align: center
}

.c20 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c37 {
  font-size: 12pt;
  font-family: "Nunito";
  font-weight: 700
}

.c26 {
  margin-left: 0pt;
  list-style-position: inside;
  text-indent: 18pt
}

.c61 {
  font-weight: 800;
  font-size: 15pt;
  font-family: "Nunito"
}

.c25 {
  font-size: 12pt;
  font-family: "Nunito";
  font-weight: 400
}

.c33 {
  color: inherit;
  text-decoration: inherit
}

.c65 {
  font-family: "Nunito";
  font-weight: 700
}

.c19 {
  margin-left: 36pt;
  height: 24pt
}

.c42 {
  padding: 0;
  margin: 0
}

.c59 {
  font-weight: 400;
  font-family: "Nunito"
}

.c60 {
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt
}

.c34 {
  border: 1px solid black;
  margin: 5px
}

.c53 {
  orphans: 2;
  widows: 2
}

.c63 {
  page-break-after: avoid
}

.c16 {
  font-style: italic
}

.c0 {
  color: #0e101a
}

.c29 {
  height: 18pt
}

.c21 {
  height: 11pt
}

.c36 {
  color: #16191f
}

.c17 {
  background-color: #ffffff
}

.c48 {
  font-size: 24pt
}

.c27 {
  margin-left: 36pt
}

.c64 {
  height: 24pt
}

.c44 {
  background-color: #64e572
}

.title {
  padding-top: 20pt;
  color: #0e101a;
  font-weight: 700;
  font-size: 30pt;
  padding-bottom: 6pt;
  font-family: "Nunito";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #0e101a;
  font-size: 11pt;
  font-family: "Montserrat"
}

p {
  margin: 0;
  color: #0e101a;
  font-size: 11pt;
  font-family: "Montserrat"
}

h1 {
  padding-top: 7pt;
  color: #0e101a;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 0pt;
  font-family: "Nunito";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 7pt;
  color: #0e101a;
  font-weight: 800;
  font-size: 18pt;
  padding-bottom: 0pt;
  font-family: "Nunito";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 7pt;
  color: #434343;
  font-weight: 700;
  font-size: 15pt;
  padding-bottom: 0pt;
  font-family: "Nunito";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-weight: 600;
  font-size: 14pt;
  padding-bottom: 0pt;
  font-family: "Nunito";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Montserrat";
  line-height: 1.5;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Montserrat";
  line-height: 1.5;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}